<form
    class="flex flex-col items-start mx-4 my-8 border-t border-eef0ef py-4"
    method="post"
    {% comment %} action="{% if is_add_form %}{% url 'add' %}{% else %}{% if member_to_edit and member_to_edit.id %}{% url 'edit' member_to_edit.id %}{% endif %}{% endif %}" {% endcomment %}
    action="{% if is_add_form %}{% url 'add' %}{% else %}{% if member_to_edit and member_to_edit.id %}{% url 'edit' member_to_edit.id %}{% else %}{% url 'index' %}{% endif %}{% endif %}"
>
    {% csrf_token %}

    <div class="mt-2 text-xl text-gray-500 font-bold">Info</div>

    {% comment %} TODO: based on this boolean call different post methods  {% endcomment %}
    {% comment %} TODO: fix the logic for how the usr is being passed to the edit form {% endcomment %}
    {% comment %} {% if is_add_form %}
        <div>Add Form</div>
    {% else %}
        <div>Edit Form</div>
        <div>{{ member_to_edit.name }}</div>
    {% endif %} {% endcomment %}

    {% comment %} TODO: consider putting into components if you have the time {%
    endcomment %} {% comment %} TODO: figure out how to combine these two forms
    into a single one {% endcomment %} {% comment %} TODO: consider putting this
    into a component and using a for loop {% endcomment %}
    <div class="w-full flex flex-col justify-start mt-4 mb-3">
        <div class="">
            <input
                type="text"
                name="name"
                placeholder="Charlene"
                required
                class="w-full px-3 py-2 border border-eef0ef rounded-md shadow-sm focus:outline-none focus:border-blue-500 placeholder-gray-400"
                {% if not is_add_form %} value="{{ member_to_edit.name }}"{% endif %}
              />
        </div>
        <div class="mt-4">
            <input
                type="text"
                name="position"
                placeholder="Pham"
                required
                class="w-full px-3 py-2 border border-eef0ef rounded-md shadow-sm focus:outline-none focus:border-blue-500 placeholder-gray-400"
                {% if not is_add_form %} value="{{ member_to_edit.position }}"{% endif %}
                />
        </div>
        <div class="mt-4">
            <input
                type="text"
                name="phone"
                placeholder="charlene@instawork.com"
                required
                class="w-full px-3 py-2 border border-eef0ef rounded-md shadow-sm focus:outline-none focus:border-blue-500 placeholder-gray-400"
                {% if not is_add_form %} value="{{ member_to_edit.phone }}"{% endif %}
               />
        </div>
        <div class="mt-4">
            <input
                type="email"
                name="email"
                required
                placeholder="415-310-1619"
                class="w-full px-3 py-2 border border-eef0ef rounded-md shadow-sm focus:outline-none focus:border-blue-500 placeholder-gray-400"
                {% if not is_add_form %} value="{{ member_to_edit.email }}"{% endif %}
                />
        </div>
    </div>

    {% comment %} TODO: update the model to also include the role field {%
    endcomment %} {% comment %} TODO: figure out how to bind this to a form name
    {% endcomment %}

    <div class="mt-2 text-xl text-gray-500 font-bold">Role</div>
    <div class="mb-4">
        <div class="flex items-center py-4">
            <input
                type="radio"
                id="option1"
                name="options"
                value="option1"
                class="mr-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <label for="option1" class="text-gray-700"
                >Regular - Can't delete members</label
            >
        </div>
        <div class="py-4 flex items-center border-t border-b border-eef0ef">
            <input
                type="radio"
                id="option2"
                name="options"
                value="option2"
                class="mr-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <label for="option2" class="text-gray-700"
                >Admin - Can delete members</label
            >
        </div>
    </div>

    <div class="add-members__buttons-container">
        {% if not is_add_form %}
        {% comment %} if not is_add_form: then delete the user by id {% endcomment %}
        <button class="add-members__delete" data-delete-url="{% url 'delete' member_to_edit.id %}" id="deleteButton">Delete</button>
        {% endif %}

        {% comment %} TODO: find a library for the Django formatter {% endcomment %}
        
        {% comment %} if not is_add_form: then update the user else: add the user (trigger submit)  {% endcomment %}
        <button type="submit" id="saveButton" class="add-members__save">Save</button>
    </div>
</form>

<script>
    document.getElementById('deleteButton').addEventListener('click', function (e) {
        e.preventDefault();
        console.log('deleteButton clicked');
        const deletionIsConfirmed = true; // for quicker debugging
        // {% comment %} const deletionIsConfirmed = window.confirm('Are you sure you want to delete this user?'); {% endcomment %}
        if (deletionIsConfirmed) {
            const memberId={{ member_to_edit.id }};
            const deleteUrl = this.getAttribute('data-delete-url');
            // TODO: remove the user from the members array 
            // TODO: route the user to the team members page to show all of the team members
            console.log('deletionIsConfirmed', memberId, deleteUrl);

            fetch(deleteUrl, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    console.log('User deleted successfully');
                    window.location.href = '{% url "index" %}';
                } else {
                    console.error('Error deleting user');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        // TODO: add the role field to the form 
    });
</script>