<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static tailwind_tags %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Team management</title>
        {% tailwind_css %} {% load static %} <link rel="stylesheet" href="{%
        static "polls/style.css" %}">
    </head>
    <body>
        <div class="container">
            <div class="text-blue-500">Team management</div>
            
            {% comment %} TODO: pass in parameters to the cards {% endcomment %}
            {% comment %} TODO: style each card with Tailwind {% endcomment %}

            {% for member in members%} 
                {% include "./components/member.html" %}
            {% endfor %}
        </div>

        {% comment %} 
        <!-- TODO: see how to add different pages  -->
        <!-- TODO: add the edit/add/delete a member functionality -->{%
        endcomment %}
        {% endcomment %}

    </body>
</html>
