<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team management</title>
    {% load livereload_tags %}
    {% livereload_script %}
    {% load static %}
    <link rel="stylesheet" href="{% static "polls/style.css" %}">
</head>
<body>


    <div>Team management app1234</div>
    <!-- TODO: (feature/add-styling) install tailwind css and style this form  -->

    <!-- TODO: see how to add different pages  -->
    <!-- TODO: see how to work with UI components in Django -->
    <!-- TODO: add the edit/add/delete a member functionality -->
</body>
</html>